.movie-section {
    background-color: #1C1C1C;
    background-image: url(../img/footer-bg.jpg);
}

.movie-section .card {
    background-color: #0282F9;
    color: whitesmoke;
}

.card .title {
    color: #FFC107;
}

.card .clr-yellow {
    color: #FFC107;
}